<section class="section-task-form">
  <%= form_with model: [@category, @task] do |form| %>
    <div class="task-column">
      <div>
        <label for="task_name" class="task-name">Task: </label>
        <%= form.text_field :name, class: "task-name-input" %>
      </div>
      <div>
        <label for="due_date" class="due-date">Due Date: </label>
        <%= form.date_field :due_date, class: "due-date-input" %>
      </div>
    </div>
    <div class="form-buttons-tasks">
      <%= form.submit "Submit", class: "task-submit-button" %>
      <%= link_to "Back", :back, class: "task-submit-back" %>
    </div>

  <% end %>
</section>
