<h2> <%= @category.title %> Tasks </h2>
<% @tasks.each do |task| %>
  <p>
    <%= link_to task.name, edit_category_task_path(@category, task) %>
  </p>
<% end %>


<%= link_to "New Task", new_category_task_path(@category, @task) %>
<br>
<%= link_to 'Tasks for Today', root_path %>
<br>
<%= link_to 'Back to Main', categories_path %>
