<h2>Task Details</h2>

<p>Name: <%= @task.name %></p>
<p>Due Date: <%= @task.due_date %></p>
<p>Due Time: <%= @task.due_time %></p>

<%= form_with model: [@category, @task] do |form| %>
  <%= form.label :status_complete %>
  <%= form.check_box :status_complete, checked: @task.status_complete, onchange: "this.form.submit();" %>
  <%= form.submit "Update Task Status", style: "display: none;" %>
<% end %>
<br>

<%= link_to "Edit Task", edit_category_task_path(@category, @task) %>
<br>
<%= button_to "Delete this Task", category_task_path(@category, @task), method: :delete, data: { confirm: "Are you sure you want to delete this category?" } %>
<br>
<%= link_to "Back to Task List", category_tasks_path(@category) %>
